@import "normalize"
@import "vars"
@import "mixins"

*
	padding: 0
	margin: 0
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

html
	width: 100%
	height: 100%

body
	width: 100%
	height: 100%
	background-color: #fff
	
ul
	padding: 0
	margin: 0
	
	li
		list-style: none	
		
p 
	padding: 0
	margin: 0
	
a
	text-decoration: none
	
.wrapper
	width: 100%
	min-height: 100%
	position: relative
	overflow: hidden

.empty
	height: 100px

// FOOTER	
.footer
	width: 100%
	height: 100px
	margin-top: -100px
	position: relative
	background-color: $grey
	
.container
	width: 1000px
	min-height: 200px 
	margin: 0 auto

// HEADER
.header
	background-color: #EFD661 

.header__logo, .header__address, .header__phone
	float: left

// HEADER__TOP
.header__top
	@include clearfix
	min-height: 85px	
	
.header__logo
	width: 25%
	
.header__address
	width: 45%
	
.header__phone
	width: 30%
	
.logo
	display: inline-block

.logo__pic
	display: block
	max-width: 150px
	min-height: 65px 
	


.address, .header__phone
	font-size: 16px
	font-family: 'Roboto Condensed', sans-serif
	text-align: right
	margin-top: 15px
	
.phone1, .phone2
	font-size: 25px
	font-weight: bold 
	

// HEADER__BOTTOM
.header__bottom
	@include clearfix
	min-height: 40px 


.menu
	float: left
	width: 70%
	
.send-order
	float: right
	width: 30%